<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Temporary deployment on herolu for CORS issue</h1>
    <p>This is a temporary deployment to get around the CORS issue in utopian api.</p>
  </div>
</div>


</body>
</html>
